.card {
  width: 70%;

  border-radius: 20px;
  margin-bottom: 10px;
}
.Scroll {
  width: 100%;
  margin-left: 20px;
}
.newPostContainer {
  height: 300px;
  width: 70%;
  padding-bottom: 20px;
}
@media only screen and (max-width: 414px) {
  .card {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
    height: fit-content;
  }
  .Scroll {
    width: 100%;
    margin-left: 0;
  }
  .newPostContainer {
    height: 300px;
    width: 100%;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 1024px) {
  .card {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    height: fit-content;
  }
  .Scroll {
    width: 100%;
  }
  .newPostContainer {
    margin: auto;

    height: 300px;
    width: 80%;
    padding-bottom: 20px;
  }
}
